<div>
    <div class="title">
        <mat-toolbar class="mat-primary">{{title}}</mat-toolbar>
    </div>
    <div class="content">
        <form>
            <input placeholder="Enter the first value"
                   name="text1"
                   [(ngModel)]="textValue"
                   type="text"
                   minlength="5"
                   maxlength="15"
                   pattern="[\w\d]*"
                   required />
            <div class="display-right">{{textValue}}</div>
            <div></div>
            <input placeholder="Enter the second value"
                   name="text2"
                   [(ngModel)]="textValue2"
                   type="text"
                   [minlength]="minLength"
                   [maxlength]="maxLength"
                   [pattern]="pattern"
                   [required]="required" />
            <div class="display-right">{{textValue2}}</div>
            <div></div>
            <app-form-input placeholder="Enter the third value"
                            name="text3"
                            [(value)]="textValue3"></app-form-input>
            <div class="display-right">{{textValue3}}</div>
            <div></div>
            <app-form-input placeholder="Enter the fourth value"
                            name="text4"
                            [(value)]="textValue4"></app-form-input>
            <div class="display-right">{{textValue4}}</div>
        </form>
    </div>
</div>
